body {
    background-color: rgb(41, 40, 40);
    color: white;
}

.imagemlogo {
    height: 100px;
    width: 100px;
}

.wppLogo {
    height: 16px;
    width: 16px;
    margin-top: 12px;
}

.cabecalho {
    display: flex;
    flex-direction: row;
}

.infosCabecalho {
    margin-left: 65%;
    display: flex;
    flex-direction: row;
    padding: 1px;
    gap: 12px;
    font-size: 14px;
}

.telefone {
    margin-left: 25px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}