body {
    background-color: rgb(41, 40, 40);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.imagemlogo {
    height: 100px;
    width: 100px;
}

.wppLogo {
    height: 16px;
    width: 16px;
    margin-top: 14px;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.cabecalhoTexto {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.telefone {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.infosCabecalho {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 14px;
}

.botoesMenu {
    display: flex;
    gap: 40px;
}

.Sobre,
.Agenda,
.Preco,
.Equipe,
.Contato {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s ease;
    cursor: pointer;
    border-radius: 25px;
    border-style: hidden;
    width: 80px;
}

.Sobre:hover,
.Agenda:hover,
.Preco:hover,
.Equipe:hover,
.Contato:hover {
    background-color: rgb(14, 12, 12);
    transform: scale(1.05);
}

.Login {
    background-color: red;
    border-radius: 25px;
    border-style: hidden;
    width: 120px;
    color: white;
    font-size: 16px;
    transition: color 0.3s ease;
    cursor: pointer;
}

.Login:hover {
    background-color: rgb(95, 9, 9);
    transform: scale(1.05);
}



.painelPrincipal {
    position: relative;
    width: 100%;
}

.banner {
    width: 100%;
    height: auto;
    display: block;
}

.conteudoSobreposto {
    position: absolute;
    top: 100px;
    left: 30px;
}

.tituloBanner {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.textoPainelPrincipal p {
    font-size: 1.1rem;
    color: #f0f0f0;
    line-height: 1.6;
    margin-bottom: 30px;
    font-weight: bold;
    margin-left: 3px;
}

.botaoAgendar {
    background-color: red;
    border-radius: 25px;
    border: none;
    outline: none;
    width: 400px;
    padding: 14px 35px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.botaoAgendar:hover {
    background-color: rgb(95, 9, 9);
    transform: scale(1.05);
}