body {
    background-color: rgb(41, 40, 40);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.imagemlogo {
    height: 100px;
    width: 100px;
}

.wppLogo {
    height: 16px;
    width: 16px;
    margin-top: 14px;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.cabecalhoTexto {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.telefone {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.infosCabecalho {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 14px;
}

.botoesMenu {
    display: flex;
    gap: 40px;
}

.Sobre,
.Agenda,
.Preco,
.Equipe,
.Contato {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s ease;
    cursor: pointer;
}

.Login {
    background-color: red;
    border-radius: 25px;
    border-style: hidden;
    width: 120px;
    color: white;
    font-size: 16px;
    transition: color 0.3s ease;
    cursor: pointer;
}