body {
    background-color: rgb(41, 40, 40);
    color: white;
}

.imagemlogo {
    height: 100px;
    width: 100px;
}

.wppLogo {
    height: 16px;
    width: 16px;
    margin-top: 16px;
}

.cabecalho {
    display: flex;
    flex-direction: row;
}

.cabecalhoTexto {
    display: flex;
    flex-direction: column;
    margin-left: 60%;
}

.telefone {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.infosCabecalho {
    display: flex;
    flex-direction: row;
    gap: 20px;
}